
.navbar{
    background-color: #0A2E36;
    float: right;
    
}

h2{
    font-family:sans-serif;

}

h4{
    font-family: LibreBaskerville-Regular,Palatino Linotype,Times New Roman,serif;
}

.presentacion{
    background-color: #0A2E36;
    color:whitesmoke;
    height: 500px;
    padding-top: 150px;
    padding-left: 100px;
}

.cuerpo{
    background-color: #f3f3f3;
    margin-top: -30px;
    padding-top: 20px;
}



#foto img{
    position: relative;
}

.img{
    height: 600px;
    width: 1000px;
    padding: 50px;
}

#cursos{
    padding-left: 200px;
}

#idiomas{
    margin-bottom: 50px;
    padding-left: 50px;
}

#trayectoria{
    margin-top: 50px;
   margin-left: 200px;
}

#experiencia{
    margin-left: 50px;
}


.presentacion2{
    background-color: #FCB9B2;
    text-align: center;
    height: 600px;
    padding: 50px;
padding-top: 200px;
}


.carousel-inner{
    height: 500px;
}

.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}

#tarjetas{
    background-color: #B23A48;
}


#formu1{
    background-color: #FED0BB;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
}


.inicio{
    margin-top: 240px;
    margin-right: 140px;
}


.about{
    background-color: #FCB9B2;
}



.footer{
    background-color: #0A2E36;
    text-align: center;
    height: 300px;
    padding-top: 150px;
    color: white;
}

