
#ribbon ::after{
    content: '';
    background-color: transparent;
    display: block;
    height: -30px;
    width: 0%;
    margin: 0 auto;
    left: auto;
    position: relative;
}



#foto{
    background-color: gainsboro;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 10px #B23A48;
    width: 80%;
    margin-bottom: -40px;
    margin-top: 20px;
}

#foto img{
    position: relative;
}

.navbar{
    background-color: #FCB9B2;
}

.presentacion{
    background-color: #FCB9B2;

    text-align: center;
    height: 600px;
    padding: 50px;
padding-top: 200px;
}


.carousel-inner{
    height: 500px;
}

.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}

#tarjetas{
    background-color: #B23A48;
}


#formu1{
    background-color: #FED0BB;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
}


.inicio{
    margin-top: 240px;
    margin-right: 140px;
}


.about{
    background-color: #FCB9B2;
}

.blog-footer{
    background-color: antiquewhite;
    
}

